In [ ]:
import pandas as pd

In [3]:
inv_data = pd.read_excel('../data/inventory.xlsx')

In [5]:
inv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35864 entries, 0 to 35863
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date_stk  35864 non-null  object
 1   site_no   35864 non-null  int64
 2   sku_no    35864 non-null  int64
 3   end_amt   35687 non-null  float64
 4   end_qty   35683 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.4+ MB

In [6]:
inv_data.describe().T

,count,mean,std,min,25%,50%,75%,max
site_no,35864.0,2.005855,1.415817,0.00,1.000,2.00,3.000,4.00
sku_no,35864.0,4.542940,2.859624,0.00,2.000,5.00,7.000,9.00
end_amt,35687.0,4118.745564,31565.864703,-19661.26,483.005,1717.30,4075.110,999999.00
end_qty,35683.0,92.558074,109.157977,-325.79,16.100,59.03,132.985,1266.72

In [7]:
inv_data[inv_data['end_amt'] < 0]

         date_stk  site_no  sku_no  end_amt  end_qty
37     2022-01-01        2       3   -73.83    -6.90
62     2022-01-02        2       3   -24.61    -2.30
91     2022-01-03        3       3   -98.44    -9.20
94     2022-01-03        2       8  -297.63    -6.76
143    2022-01-04        3       3   -98.44    -9.20
...           ...      ...     ...      ...      ...
35573  2023-12-25        2       2 -1419.84   -35.50
35620  2023-12-26        2       5   -83.09    -1.65
35628  2023-12-26        2       2 -2464.22   -61.61
35646  2023-12-27        2       5  -105.34    -2.09
35833  2023-12-31        2       3   -28.27    -2.30

[1935 rows x 5 columns]

In [8]:
inv_data['end_amt'] = inv_data['end_amt'].abs()
inv_data['end_amt']

0           86.14
1         6314.03
2         1300.89
3         2244.37
4         8427.20
           ...
35859     1615.32
35860     3207.11
35861     8169.64
35862     2835.26
35863    11229.53
Name: end_amt, Length: 35864, dtype: float64

1. Found that 'end_amt' of inventory has negative values, which seems abnormal and could be caused by human error. So we take the absolute value to fix it. --> 0.5 point